.wrapper
  .wrapper__top
    = link_to new_user_registration_path, class:"new_user_registration" do
      新規登録
    = link_to new_user_session_path, class:"new_user_session" do
      ログイン
  .wrapper__content
    パワフェス
    .game_start
      - if user_signed_in?
        = link_to new_player_path, class:"new_player" do
          ゲームスタート
    .made-player
      - if user_signed_in?
        - if @player.present?
          %strong 作成選手一覧
          - @player.each do |player|
            .made-player__name
              = player.name
              = player.position
              = "#{player.dominant_throw}投#{player.dominant_batting}打"
              = link_to new_player_total_record_path(player.id) do
                詳細
              = link_to player_path(player.id), method: :delete, data: {confirm: "本当に削除しますか？"} do
                削除
        - else
          作成した選手はいません

