.wrapper
  .wrapper__top
    .wrapper__top__box
      .wrapper__top__box__text
        パワフェス " 極 "
        .wrapper__top__box__text__sub
          〜最強選手を作ろう〜
      .wrapper__top__box__button
        - unless user_signed_in?
          = link_to new_user_registration_path, class:"new_user_registration" do
            新規登録
  .wrapper__back
    .wrapper__back__content
      .wrapper__back__content__top
        〜 ログイン 〜
      .wrapper__back__content__middle
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .wrapper__back__content__middle__form
            .wrapper__back__content__middle__form__text
              メールアドレス
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "yamada@yamada.com", class: "wrapper__back__content__middle__form__field"
          .wrapper__back__content__middle__form
            .wrapper__back__content__middle__form__text
              パスワード
            = f.password_field :password, autocomplete: "new-password", placeholder: "半角英数字8文字以上", class: "wrapper__back__content__middle__form__field"
          .wrapper__back__content__middle__login
            = f.submit "登録", class: "wrapper__back__content__middle__login__button"
