.wrapper
  .wrapper__top
    .wrapper__top__box
      .wrapper__top__box__text
        パワフェス " 極 "
        .wrapper__top__box__text__sub
          〜最強選手を作ろう〜
  .wrapper__back
    .wrapper__back__content
      .wrapper__back__content__top
        〜 選手登録 〜
      .wrapper__back__content__middle
        = form_with url: players_path(@player), method: :post, class: "registration" do |f|
          .wrapper__back__content__middle__form
            .wrapper__back__content__middle__form__text
              名前
            = f.text_field :name, placeholder: "藤村甲子園", class: "wrapper__back__content__middle__form__field"
          .wrapper__back__content__middle__form
            .wrapper__back__content__middle__form__text
              ポジション
            = f.select :position, {}, {}, class: "selection" do
              %option 投手
              %option 捕手
              %option 一塁手
              %option 二塁手
              %option 三塁手
              %option 遊撃手
              %option 外野手
          .wrapper__back__content__middle__form
            .wrapper__back__content__middle__form__text
              投
            = f.select :dominant_throw, {}, {}, class: "selection" do
              %option 右
              %option 左
          .wrapper__back__content__middle__form
            .wrapper__back__content__middle__form__text
              打
            = f.select :dominant_batting, {}, {}, class: "selection" do
              %option 右
              %option 左
              %option 両
          .wrapper__back__content__middle__form
            .wrapper__back__content__middle__form__text
              ゲームレベル
            = f.select :level, {}, {}, class: "selection" do
              %option ルーキー
              %option ノーマル
              %option 達人
          .wrapper__back__content__middle__login
            = f.submit "トーナメントへ", class: "wrapper__back__content__middle__login__button"